body {
    background-color: #172331;
    color: white;
    font-family: monospace;
    margin: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}
  

.content {
    flex: 1;
}